.playerButton {
    background-color: burlywood;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.playerButton:focus {
    background-color: crimson;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#log {
    display: flex;
    align-items: center;
    justify-content: center;
}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-size: large;
    text-decoration-line: underline;
}